<router-outlet></router-outlet>
<button mat-icon-button color="accent">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
</button>
<button mat-raised-button color="primary">Test</button>
<button mat-raised-button color="primary">Sign In</button>
<button mat-raised-button color="primary">Register</button>

<button mat-icon-button color="accent">
<mat-icon aria-hidden="false" aria-label="Example home icon">info</mat-icon>
</button>

<mat-chip-list aria-label="Fitness selection">
  <mat-chip color="accent" selected>Home</mat-chip>
  <mat-chip color="accent" selected>Help</mat-chip>

</mat-chip-list>


